<button class="btn btn-primary"><a routerLink="" style="color: white;" >Home</a></button>
<div class="container">
<form class="from-control">
   <div class="row">
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">User Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="User Name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">First Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Last Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Mobile</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Mobile">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Address">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">City</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="City">
          </div>
        </div> 
       <button class="btn btn-primary">Submit</button>
</form>
</div>   